<!DOCTYPE html>
<html  xmlns:http="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Taco Designer</title>
        <div th:replace="header :: header-css" ></div>
        <link rel="stylesheet" th:href="@{/styles/home_page.css}"/>
    </head>

    <body>
        <div class="container">
            <div th:insert="header :: header"></div>
            <h1>Design your taco</h1>
            <img class="rounded mx-auto d-block img-fluid tacoImage" th:src="@{/images/taco_logo.jpg}" alt="Taco Image" />

            <a th:href="@{/design}">Order a taco</a>
        </div>
    </body>
</html>