<!DOCTYPE html>
<html  xmlns:http="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taco Designer</title>

    <div th:replace="header :: header-css" ></div>
    <link rel="stylesheet" th:href="@{/styles/home_page.css}"/>
</head>

<body>
    <div class="container">
        <div th:insert="header :: header"></div>

        <h1>Order your taco creation</h1>

        <img class="image-fluid" th:src="@{/images/taco_logo.jpg}" />

        <form method="POST" th:action="@{/orders}" th:object="${order}">
            <div th:if="${#fields.hasErrors()}">
                <span class="validationError">
                    Please correct the error-phone fields and resubmit
                </span>
            </div>

            <h3>Deliver my taco masterpieces to...</h3>
            <label for="name">Name: </label>
            <input type="text" id="name" th:field="*{name}"/>
            <br/>

            <label for="street">Street address: </label>
            <input type="text" id="street" th:field="*{street}"/>
            <br/>

            <label for="city">City: </label>
            <input type="text" id="city" th:field="*{city}"/>
            <br/>

            <label for="state">State: </label>
            <input type="text" id="state" th:field="*{state}"/>
            <br/>

            <label for="zip">Zip code: </label>
            <input type="text" id="zip" th:field="*{zip}"/>
            <br/>

            <h3>Here's how I'll pay...</h3>
            <label for="ccNumber">Credit Card #: </label>
            <input type="text" id="ccNumber" th:field="*{ccNumber}" th:value="*{ccNumber}"/>
            <br/>

            <!--<label for="ccExpiration">Expiration: </label>-->
            <!--<input type="text" id="ccExpiration" th:field="*{ccExpiration}"/>-->
            <!--<br/>-->

            <label for="ccExpiration">Expiration: </label>
            <input type="date" id="ccExpiration" pattern="dd-mm-yyyy"  th:field="*{ccExpiration}"/>
            <span class="validationError"
                  th:if="${#fields.hasErrors('ccExpiration')}"
                  th:errors ="*{ccExpiration}">СС Expr error</span>
            <br/>

            <label for="ccCVV">CVV: </label>
            <input type="text" id="ccCVV" th:field="*{ccCVV}"/>
            <span class="validationError"
                  th:if="${#fields.hasErrors('ccNumber')}"
                  th:errors ="*{ccCVV}">CC num error</span>
            <br/>

            <input type="submit" value="Submit order" />


        </form>
    </div>
</body>
</html>